

/*syle de todo*/
.todo {
    width: 800px;
    height: 550px;
    border-radius: 25px;
    background-color: #50B9FA;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/*style de container*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/*syle de formulario*/
.img {
    margin-top: 30px;
    margin-left: 50px;
    width: 250px;
    height: 150px;
    background-color: #7f7f7f;
}
label {
    display: block;
    font-family: 'Lexend', sans-serif;
    color: #011128;
    margin-left: 50px;
    margin-top:20px;
    margin-bottom: 10px;
}
/*#fechaYHoraI {
    margin-top: 5px;
    margin-left: 50px;
    background-color: #ffffff;
    border-radius: 15px;
    height: 30px;
}*/
#fecha{
    margin-top: 5px;
    margin-left: 50px;
    background-color: #ffffff;
    border-radius: 15px;
    height: 30px;
}
#horaI{
    border-radius: 15px;
}
#horaF{
    border-radius: 15px;
}
#labelFechaYHora {
   margin-top:40px ;
   
}
#insumos {
    width: 300px;
    margin-top: 5px;
    margin-left: 50px;
    background-color: #f7f6f6;
    border-radius: 15px;
}
#servLimpieza{
    display: inline;
    font-size: 15px;
    margin-right: 50px;

}
.agendar{
    margin-top: 20px;
    margin-left: 50px;
    width: 200px;
    height: 50px;
    background-color: #A2DBFF;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border: none;
    color: #011128;
}

.formularioDiv{
    top: 95px;
    left: 361px;
    width: 400px;
    height: 550px;
    background-color: transparent;
}

input{
    border: none;
}


/* style de checkbox */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    transform: translateX(24px);
    background-color: #002984;
}

/*style de calendario*/
.calendarioDiv{
    top: 95px;
    left: 775px;
    width: 400px;
    height: 550px;
    background-color: transparent;
}

.vistas{
    margin-top: 30px;
    margin-left: 20px;
    width: 90%;
    height: 50px;
    background-color: #A2DBFF;
    justify-content: center;
    border-radius: 10px;
    

}
.vista {
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    width: 90px;
    height: 40px;
    background-color: #002C6F;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-family: Lexend Deca;
    cursor: pointer;
    border: none;
}

/* Esto aplica a los h1 dentro de los divs día, mes, y semana */
#diario h1, #semanal h1, #mensual h1 {
    margin: 0;
    font-size: 15px; 
    text-align: center;
}

#diario{
    font-size: 10px;
    text-align: center;
}
#semanal{
    font-size: 10px;
    text-align: center;
}
#mensual{
    font-size: 10px;
    text-align: center;
}

.retroceder{
    display: inline-block;
    margin-top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #002C6F;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

.numDia-mes{
    font-size: 35px;
    margin-bottom:0px;
    
}
.mes-anio{
    font-size: 20px;
}
.avanzar{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #002C6F;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}
.calendario{
    margin-top: 0px;
    margin-left: 20px;
    width: 90%;
    height: 300px;
    background-color: #A2DBFF;
    border-radius: 25px;
    color: #fff;
}



.divDia {
    display: inline-block;
    width: 29px;
    height: 29px;
    background-color: #368DFF;
    border-radius: 100%;
    margin: 10px;
    margin-top: 0px;
    cursor: pointer;
    text-align: center;
    font-family:Lexend Deca;
}


.col{
    display: flex;
    justify-content: center;
}

#dias{
    margin-bottom: 20px;
    margin-top: 20px;
}

.diasSemana {
    display: flex;
    padding: 10px 0;
}

.diaSemana {
    width: 29px;
    height: 29px;
    text-align: center;
    font-family: Lexend Deca;
    margin: 0 10px;
    cursor: pointer;
}

.diaSemana h1 {
    font-size: 15px;
    color: #002C6F;
    margin-top: 5px;
}

.divDiaVacia {
    display: inline-block;
    width: 29px;
    height: 29px;
    background-color: transparent;
    margin-left: 10px;
    margin-right: 10px;
}

.divDia:hover {
    background-color: #368DFF;
    border-radius: 100%;
    transform: scale(1.2);
    transition: 0.3s;
}

.diaSemana:hover {
    background-color: #368DFF;
    border-radius: 100%;
    transform: scale(1.2);
    transition: 0.3s;
}

.divDiaSem{
    width: 330px;
    height: 30px;
    background-color: #368DFF;
    border-radius: 10px;
    margin: 10px;
    margin-top: 0px;
    padding-top: 3px;
    cursor: pointer;
    text-align: center;
    font-family:Lexend Deca;
}

.reservasDia {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%)scale(0);  
    width: 300px; 
    height: 280px; 
    background-color: #368DFF; 
    border-radius: 15px; 
    text-align: center; 
    z-index: 100;
    translate: 0.5s;
    opacity: 0; /* Empieza invisible */
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.reservasDia.show {
    transform: translate(-50%, -50%) scale(1); /* Escala completa */
    opacity: 1; /* Totalmente visible */
}

.cerrarReservas {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    cursor: pointer;
}
.cerrarX{
    font-size: 25px;
    text-align: center;
    margin-top: -5px;
    font-weight: bold;
    color: #011128;
}
.tituloReserva {
    margin-top: 20px;
    padding: 0;
    line-height: 30px;
    text-align: center;
}
.reservaPorDiaSemanal{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%)scale(0);  
    width: 300px; 
    height: 280px; 
    background-color: #368DFF; 
    border-radius: 15px; 
    text-align: center; 
    z-index: 100;
    translate: 0.5s;
    opacity: 0; /* Empieza invisible */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#insumos{
    resize:none;
}

.cerrar{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    cursor: pointer;
}
.cerrar h1{
    font-size: 25px;
    text-align: center;
    margin-top: -5px;
    font-weight: bold;
    color: #011128;
}
