body{
margin: 0%;
padding: 0%;
background-color:
#A2DBFF;

}

#header{
width: 100%;
height: 60px;
background-color: #55A4FF;
}


#liceo{
    width: 1100px;
    height: 30px;
    background-color: 
    #3392FF;
    border-radius: 15px;
    position: absolute;
    left: 15%;
    top: 80px;
    z-index: 1;
}

#escuela{
    width: 980px;
    height: 30px;
    background-color: #002C6F;
    border-radius: 15px;
    position: absolute;
    left: 10%;
    top: 80px;
    z-index: 2;
}

#blanco1{
    width: 45%;
    height: 550px;
    background-color: aliceblue;
    position: absolute;
    top: 140px;
    left: 130px;
     clip-path: polygon(0% 0%, 98% 0%, 70% 100%, 0% 100%);
}

#blanco2{
    width: 45%;
    height: 550px;
    background-color: aliceblue;
    position: absolute;
    top: 140px;
    left: 660px;
    clip-path: polygon(28% 0%, 100% 0%, 100% 100%, 0% 100%);
}

#verSalas{
    width: 97%;
    height: 97%;
    background-color: aliceblue;
    position: absolute;
left:8px;
top: 8px;
     clip-path: polygon(0% 0%, 98% 0%, 70% 100%, 0% 100%);
     background-color:  #4DACFF;
     transition: all 0.3s ease;

}

#verSalas:hover{
    transform: scale(1.035);
}

#misReservas{
    width: 97%;
    height: 97%;
    position: absolute;
    left:12px;
    top: 8px;
    background-color: #3392FF;
    transition: all 0.3s ease;
    clip-path: polygon(28% 0%, 100% 0%, 100% 100%, 0% 100%);

}
#misReservas:hover{
    transform: scale(1.035);
}