/* Estilos generales para el cuerpo de la página */
html, body {
    overflow: hidden;
}

body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../../img/fondo.png');
    background-size: cover;
    line-height: normal;
}

/* Estilos para el contenedor del buscador y filtro */
.BuscadorFiltro {
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
    margin: 20px auto;
    max-width: 800px;
    width: 100%;
}

/* Estilos para el contenedor del buscador */
.Buscador {
    display: flex;
    align-items: center;
    background-color: #55A4FF;
    border-radius: 10px;
    padding: 4px;
    flex: 5; /* Ocupa el espacio restante */
    max-width: 100%; /* Asegura que el buscador y el filtro tengan el mismo ancho */
}

/* Estilos para el icono dentro del buscador */
.Buscador .IconoBuscador {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

/* Estilos para el campo de texto dentro del buscador */
.Buscador input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    color: white;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}

/* Estilos para el campo de texto cuando está enfocado */
.Buscador input[type="text"]:focus {
    outline: none;
}

/* Estilos para el texto del placeholder en el campo de texto */
.Buscador input[type="text"]::placeholder {
    color: white;
}

/* Estilos para el contenedor del filtro */
.Filtro {
    display: flex;
    align-items: center;
    margin-left: 20px;
    flex: 1; /* Ocupa el espacio restante */
}

/* Estilos para el selector del filtro */
.Filtro select {
    width: 100%; /* Asegura que el filtro ocupe todo el espacio disponible */
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #55A4FF;
    color: white;
}

/* Estilos para el contenedor principal */
.Container {
    max-height: 82.2vh;
    overflow-y: auto;
}

/* Estilos para la barra de desplazamiento en navegadores WebKit */
.Container::-webkit-scrollbar {
    width: 10px;
}

.Container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}

.Container::-webkit-scrollbar-thumb {
    background: #3392FF;
    border-radius: 3px;
}

.Container::-webkit-scrollbar-thumb:hover {
    background: #007BFF;
}

/* Estilos para la sección de reserva */
.Reserva {
    position: relative;
    background-color: #3392FF;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Contenedor de información de la sala */
.ReservaInfo {
    flex-grow: 1;
}

/* Imagen de la sala */
.SalaImg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.texto {
    margin: 3px;
}

.No-reservas {
    background-color: #3392FF;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.texto-no-reservas {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 3px;
    text-align: center;
}

/* Estilos generales para los botones Eliminar y Editar */
.Eliminar, .Editar {
    position: absolute;
    right: -10px; /* Mueve el botón fuera del borde derecho */
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #9CD1F2;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    pointer-events: all;
    transition: right 0.4s ease;
}

.Editar {
    top: 70%;
}

/* Estilos para ocultar los íconos dentro de los botones inicialmente */
#Eliminar, #Editar {
    width: 25px;
    height: 25px;
    margin: 13.5px;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

/* Mover los botones hacia la derecha y mostrar los íconos al pasar el mouse sobre los botones Eliminar y Editar */
.Eliminar:hover, .Editar:hover {
    right: -50px; 
}

.Eliminar:hover #Eliminar, .Editar:hover #Editar {
    opacity: 1; 
}

.Tapar {
    width: 44px;
    height: 100%;
    max-height: 90%;
    background-color: #3392FF;
    position: absolute; /* Posiciona el elemento respecto al padre */
    top: 0; /* Ajusta la posición vertical si es necesario */
    right: 0;
    transform: translateY(10%);
    z-index: 1;
    border-radius: 20px;
}

.containerEliminar{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.EliminarReserva{
    background-color: #9CD1F2;
    padding: 25px 50px;
    border-radius: 20px;
    text-align: center;
    max-width: 401px;
    width: 100%; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1.5); 
}
#btnCerrarEliminar{
    background-color: #3392FF;
    font-size: 16px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
}
#btnEliminarReserva{
    background-color: #3392FF;
    font-size: 16px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 5px;
}

.containerEditar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
/* Contenedor del formulario */
.formulario-editar-container {
    background-color: #9CD1F2;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    max-width: 350px;
    width: 100%; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1.5); 
}
#btnCerrarFormulario{
    background-color: #3392FF;
    font-size: 16px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
}
#btnEditarReserva{
    background-color: #3392FF;
    font-size: 16px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 5px;
}

/* Campos de entrada del formulario */
#sala,
#fecha,
#hora_inicio,
#hora_fin,
#insumo,
#observaciones{
    width: 100%;
    max-width: 332px; 
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.alert{
    position: absolute;
    background-color: #9CD1F2;
    padding: 20px 40px;
    min-width: 420px;
    right: 0;
    top: 10px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid #3392FF;
    --bs-alert-border-color: auto;
}
.alert.showAlert{
    opacity: 1;
    pointer-events: auto;
}

.alert.show{
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10%);
    }
}
.alert.hide{
    animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
    0%{
        transform: translateX(-10%);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}
.alert .fa-exclamation-circule .fa-check{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #3392FF;
    font-size: 30px;
}

.alert .msg{
    padding: 0 20px;
    font-size: 18px;
    color: white;
    font-family: "lexend";
}

.alert .close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #55A4FF;
    padding: 20px 18px;
    cursor: pointer;
}

.close-btn:hover{
    background: #3392FF;
}

.close-btn .fa-times{
    color: white;
    font-size: 22px;
    line-height: 40px;
}

#servLimpieza {
    display: inline;
    font-size: 15px;
    margin-right: 50px;

}

/* style de checkbox */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196f3;
}

input:checked+.slider:before {
    transform: translateX(24px);
    background-color: #002984;
}