
body{
background-size: cover;
background-image: url(../../img/fondo.png); 
margin: 0%;
font-family: 'Lexend', sans-serif;
}

/* Estilos para el contenedor principal */
.card-container {
    max-height: 76.5vh;
    overflow-y: auto;
}

/* Estilos para la barra de desplazamiento en navegadores WebKit */
.card-container::-webkit-scrollbar {
    width: 10px;
}

.card-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}

.card-container::-webkit-scrollbar-thumb {
    background: #3392FF;
    border-radius: 3px;
}

.card-container::-webkit-scrollbar-thumb:hover {
    background: #007BFF;
}


#formu{/*form para ingresar correo*/
    position: absolute;
    top: 140px;
}

#Email{
    height: 35px;
    width: 200px;
    background-color:#002C6F;
    color: white;
    position: absolute;
    left: 200px;
    border: 0cap;
    bottom: -4px;
}

#agregar{ /*bot칩n de agregar*/
    width: 50px;
    height: 50px;
    background-color: #3091FF;
    background-image: url(../../img/add\ 2.png);
    background-size: cover;
    border-color: white;
    border-radius: 5px;
    position: absolute;
    left: 90px;
    top: 100px;
}

#divchico{
    width: 0;
    height: 0;
    width: 38px;
    height: 38px;
    background-color: #002C6F;
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
    position: absolute;
    top: 107px;
    left: 163px;
}

#divchico, #formu {
    display: none; /* Oculta estos elementos por defecto */
}

.buscador{ /*input del buscador*/
    display: flex;
    align-items: center;
    margin: 20px auto;
    justify-content: center;
    background-color: #55A4FF;
    border-radius: 10px;
    padding: 4px;
    max-width: 260px;
    width: 100%;
    position: absolute;
    left: 75%;
    top: 82px;
}

/* Estilos para el icono dentro del buscador */
.buscador .IconoBuscador {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

/* Estilos para el campo de texto dentro del buscador */
.buscador input[id="buscar"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    font-style: normal;
    color: white;
    border: none;
    background-color: transparent;
    border-radius: 5px;
}

/* Estilos para el campo de texto cuando est치 enfocado */
.buscador input[id="buscar"]:focus {
    outline: none;
}

/* Estilos para el texto del placeholder en el campo de texto */
.buscador input[id="buscar"]::placeholder {
    color: white;
    font-family: 'Lexend', sans-serif;
}

#inicio{ /*enlace a inicio*/

    width: 50px;
    height: 50px;
    border-radius: 8px;
    position: absolute;
    background-image: url(../../img/);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    left: 12%;
}

#misReservas{ /*enlace a misReservas*/

    width: 50px;
    height: 50px;
    border-radius: 8px;
    position: absolute;
    background-image: url(../../img/misReservas.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    top: 20%;
    left: 12%;
}


#reservas{ /*enlace a reservas*/

    width: 50px;
    height: 50px;
    border-radius: 8px;
    position: absolute;
    background-image: url(../../img/reservas.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    top: 40%;
    left: 12%;
}

#usuarios{ /*enlace a los perfiles de usuarios*/

    width: 50px;
    height: 50px;
    border-radius: 8px;
    position: absolute;
  background-image: url(../../img/usuario.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    top: 60%;
    left: 12%;
}
#salas{ /*enlace a ver salas*/

    width: 50px;
    height: 50px;
    border-radius: 8px;
    position: absolute;
    background-image: url(../../img/verSalas.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    top: 80%;
    left: 12%;
}

.card-container {
    width: 81%;
    position: absolute;
    top: 165px;
    left: 288px;
   /* Ajusta el contenedor al centro horizontalmente */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alinea las tarjetas desde la izquierda */
    align-items: flex-start; /* Alinea las tarjetas en la parte superior */
}

.card {
    width: 190px;
    height: 240px;
    margin: 10px; /* Espacio entre tarjetas */
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 16px;
    background-color: #3375c1;
    box-shadow: 0 4px 8px rgba(37, 37, 37, 0.1);
    color: whitesmoke;
    font-family: 'Lexend', sans-serif;
}

.texto{
  margin: 0%;
}


#pcorreo{
    font-size: 12px;
    margin-top: 4px;
}

#img{ /*imagen de las tarjetas*/
width: 90%;
height: 60%;
margin-left: 6px;
background-image: url(../../img/usersicon.jpg);
background-repeat: no-repeat;
background-size: cover;
border-radius: 8px;


}

#info{ /*info de las tarjetas*/
    width: 90%;
    height: 60px;
    margin-left: 6px;
    border-radius: 8px;
    font-style: verdana;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card h3 { /*h3 de las tarjetas*/
    margin-top: 10px;
}

.card button { /*botones de las tarjetas*/
    margin-top: 10px;
    display: block;
    width: 100%;
}

#editar{ /*bot칩n editar*/
    width: 40%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: white;
    color: #3d95fb;
    border: none;
    cursor: pointer;
}

#editar:hover{
    background-color: #102c5f;
    color: white;
}

#eliminar{/*bot칩n eliminar*/
    width: 40%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: white;
    color: #3d95fb;
    border: none;
    cursor: pointer;

    }
#eliminar:hover{
    background-color: #5f1010;
    color: white;
}

#botones{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}


