body{
    overflow: hidden;
}

.Escuela{
    background-color: rgb(121, 121, 121);
    width: 200px;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    top: 300px;
    left: 400px;
    cursor: pointer;
    border: none;
}
.Liceo{
    background-color: rgb(121, 121, 121);
    width: 200px;
    height: 100px;
    border-radius: 20px;
    position: absolute;
    top: 300px;
    left: 800px;
    cursor: pointer;
    border: none;
}

.Escuela h1,.Liceo h1{
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;

}

.alert{
    position: absolute;
    background-color: #9CD1F2;
    padding: 20px 40px;
    min-width: 420px;
    right: 0;
    top: 10px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid #3392FF;
}
.alert.showAlert{
    opacity: 1;
    pointer-events: auto;
}

.alert.show{
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10%);
    }
}
.alert.hide{
    animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
    0%{
        transform: translateX(-10%);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(100%);
    }
}
.alert .fa-check{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #3392FF;
    font-size: 30px;
}

.alert .msg{
    padding: 0 20px;
    font-size: 18px;
    color: white;
}

.alert .close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #55A4FF;
    padding: 20px 18px;
    cursor: pointer;
}

.close-btn:hover{
    background: #3392FF;
}

.close-btn .fa-times{
    color: white;
    font-size: 22px;
    line-height: 40px;
}